<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<h4>Asplundh Period Report</h4>
		</div>
		<div class="col-sm-12">
			<hr />
		</div>
		<div class="col-sm-12">
			<form>
				<div class="row bottom-buffer">
					<div class="form-group">
						<label for="title" class="col-sm-1 control-label">Title</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" id="title" ng-model="params.reportTitle"
								placeholder="Asplundh Report..." name="title"
							/>
						</div>
					</div>
				</div>
				<div class="row bottom-buffer">
					<div class="form-group">
						<label for="startDate" class="col-sm-1 control-label">Start Date</label>
						<div class="col-sm-3">
							<rc-date-picker ng-model="params.startDate" />
						</div>
					</div>
				</div>
				<div class="row bottom-buffer">
					<div class="form-group">
						<label for="endDate" class="col-sm-1 control-label">End Date</label>
						<div class="col-sm-3">
							<rc-date-picker ng-model="params.endDate" />
						</div>
					</div>
					<div>
						<a ng-click="runReport()" role="button" class="btn btn-info">Run Report</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</div>